In [6]:
import pandas as pd
import numpy as np

df = pd.read_excel('records/daily.xlsx', sheetname="data")

df

          Date      Open     Close      High       Low
0   2016-01-04   8315.79   8114.26   8326.33   8109.09
1   2016-01-05   8105.00   8075.11   8142.64   8055.96
2   2016-01-06   8064.25   7990.39   8076.54   7948.43
3   2016-01-07   7963.24   7852.06   7980.50   7770.16
4   2016-01-08   7811.20   7893.97   7906.55   7788.71
5   2016-01-11   7855.80   7788.42   7855.80   7726.22
6   2016-01-12   7807.93   7768.45   7851.81   7732.11
7   2016-01-13   7799.56   7824.61   7865.98   7786.33
8   2016-01-14   7752.09   7742.88   7752.09   7662.34
9   2016-01-15   7809.00   7762.01   7842.34   7708.66
10  2016-01-18   7678.67   7811.18   7834.25   7627.89
11  2016-01-19   7816.45   7854.88   7854.88   7786.77
12  2016-01-20   7835.17   7699.12   7835.17   7687.60
13  2016-01-21   7713.17   7664.01   7748.37   7664.01
14  2016-01-22   7729.01   7756.18   7774.12   7706.14
15  2016-01-25   7813.73   7894.15   7899.66   7813.73
16  2016-01-26   7832.10   7828.67   7848.63   7799.58
17  2016-01-27   7863.66   7849.83   7888.63   7830.33
18  2016-01-28   7825.22   7905.10   7921.06   7821.12
19  2016-01-29   7880.78   8080.60   8080.60   7876.82
20  2016-01-30   8107.23   8145.21   8149.50   8106.63
21  2016-02-01   8164.24   8156.96   8166.80   8110.87
22  2016-02-02   8141.52   8131.24   8156.25   8091.14
23  2016-02-03   8117.22   8063.00   8117.22   8036.60
24  2016-02-15   7976.65   8066.51   8074.80   7953.99
25  2016-02-16   8090.91   8212.07   8227.19   8090.91
26  2016-02-17   8240.73   8214.25   8253.80   8196.13
27  2016-02-18   8261.74   8314.67   8337.97   8261.74
28  2016-02-19   8291.83   8325.04   8325.04   8280.39
29  2016-02-22   8315.79   8326.68   8396.62   8296.18
..         ...       ...       ...       ...       ...
438 2017-10-19  10745.77  10760.29  10798.54  10745.77
439 2017-10-20  10737.87  10728.88  10753.77  10702.56
440 2017-10-23  10759.47  10735.21  10792.27  10731.90
441 2017-10-24  10749.90  10743.78  10766.64  10726.25
442 2017-10-25  10771.40  10750.57  10794.55  10740.07
443 2017-10-26  10735.35  10734.76  10756.51  10716.52
444 2017-10-27  10757.35  10709.11  10803.60  10701.08
445 2017-10-30  10777.60  10756.87  10842.25  10743.13
446 2017-10-31  10768.90  10793.80  10829.33  10747.37
447 2017-11-01  10816.04  10806.36  10843.41  10785.32
448 2017-11-02  10797.63  10788.51  10827.67  10788.51
449 2017-11-03  10797.91  10800.77  10835.70  10765.31
450 2017-11-06  10856.56  10786.19  10858.50  10769.19
451 2017-11-07  10820.83  10840.34  10842.61  10807.89
452 2017-11-08  10839.44  10818.99  10844.74  10806.01
453 2017-11-09  10802.95  10743.27  10831.38  10721.87
454 2017-11-10  10713.67  10732.67  10742.61  10659.29
455 2017-11-13  10728.22  10683.92  10749.39  10683.92
456 2017-11-14  10716.59  10687.18  10735.08  10654.58
457 2017-11-15  10662.08  10630.65  10669.59  10600.26
458 2017-11-16  10629.16  10625.04  10666.66  10609.23
459 2017-11-17  10673.43  10701.64  10729.45  10673.43
460 2017-11-20  10706.79  10664.55  10728.39  10656.18
461 2017-11-21  10688.22  10779.24  10787.58  10687.26
462 2017-11-22  10815.40  10822.59  10882.65  10801.10
463 2017-11-23  10837.61  10854.57  10872.29  10809.09
464 2017-11-24  10847.79  10854.09  10873.91  10833.78
465 2017-11-27  10836.82  10750.93  10856.00  10746.74
466 2017-11-28  10733.56  10707.07  10752.58  10692.53
467 2017-11-29  10735.24  10713.55  10762.91  10697.62

[468 rows x 5 columns]