In [38]:
%pylab inline
import random
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.utils import np_utils
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import auc
from sklearn.metrics import roc_curve
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

Populating the interactive namespace from numpy and matplotlib

/Users/a8303/anaconda/envs/py_36/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['random']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [246]:
df = pd.read_excel('data.xlsx', sheetname="Test")

In [247]:
df.shape

(10, 3)

In [248]:
df.head()

   A1  A2  A3
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

## 訓練資料 and 測試資料

In [249]:
X = df

In [250]:
X.shape

(10, 3)

In [251]:
X.loc[1:2]

   A1  A2  A3
1   4   5   6
2   7   8   9

In [252]:
X[:1]

   A1  A2  A3
0   1   2   3

In [257]:
type(X[:1])

pandas.core.frame.DataFrame

In [253]:
pd.concat([X[:1], X.loc[1:2]], axis=0)

   A1  A2  A3
0   1   2   3
1   4   5   6
2   7   8   9

In [258]:

lists = []

for index, row in X.iterrows():
    #print(X[index:index+1])
    #print(X.loc[index+1:index+3])
    a1 = pd.concat([X[index:index+1], X.loc[index+1:index+3]], axis=0)
    print(type(a1))
    print(a1)
    #X1[:index+1] = a1
    #print(X[:index+1])
    #X[:index] = pd.concat([X[index:index+1], X.loc[index+1:index+3]], axis=0)
    #print(X[:index+1])
    #print(pd.concat([X[:index+1], X.loc[index+1:index+3]], axis=0))
    print('================')
    #print(X1[:index+1])
    lists.append(a1)

#X[:1]
#X1

<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
2   7   8   9
3  10  11  12
4  13  14  15
5  16  17  18
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
3  10  11  12
4  13  14  15
5  16  17  18
6  19  20  21
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
4  13  14  15
5  16  17  18
6  19  20  21
7  22  23  24
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
5  16  17  18
6  19  20  21
7  22  23  24
8  25  26  27
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
6  19  20  21
7  22  23  24
8  25  26  27
9  28  29  30
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
7  22  23  24
8  25  26  27
9  28  29  30
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
8  25  26  27
9  28  29  30
================
<class 'pandas.core.frame.DataFrame'>
   A1  A2  A3
9  28  29  30
================

In [262]:
t1 = pd.concat(lists,axis=1)
t1.shape

(10, 30)

In [138]:
type(data)

list

## 測試 List to Numpy Array

In [143]:
lists = []
lists.append([1,2])
lists.append([2,3])
lists.append([4,5])
lists.append([6,7])
lists.append([8,9])

a1 = np.array(lists)
a1.shape

(5, 2)