In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('../etf_data/AADR.csv')

FileNotFoundError: File b'../etf_data/AADR.csv' does not exist

In [3]:
df

,Date,Open,High,Low,Close,Volume,Adj Close
0,2017-02-15,45.580002,45.799999,45.580002,45.779999,7800,45.779999
1,2017-02-14,45.900002,45.900002,44.950001,45.450001,22000,45.450001
2,2017-02-13,45.799999,45.799999,45.380001,45.619999,30300,45.619999
3,2017-02-10,44.919998,45.270000,44.770000,45.070000,9200,45.070000
4,2017-02-09,44.320000,44.570000,44.290001,44.330002,3400,44.330002
5,2017-02-08,43.939999,44.369999,43.939999,44.369999,4500,44.369999
6,2017-02-07,45.000000,45.000000,44.189999,44.220001,7400,44.220001
7,2017-02-06,45.380001,45.380001,44.150002,44.619999,7400,44.619999
8,2017-02-03,45.880001,45.880001,44.820000,44.959999,6200,44.959999
9,2017-02-02,44.689999,45.080002,44.580002,45.000000,13300,45.000000
10,2017-02-01,44.639999,44.810001,44.130001,44.459999,13300,44.459999
11,2017-01-31,44.180000,44.360001,43.889999,44.220001,3200,44.220001
12,2017-01-30,44.500000,44.540001,43.730000,43.939999,5000,43.939999
13,2017-01-27,44.490002,44.500000,44.220001,44.330002,9700,44.330002
14,2017-01-26,45.490002,45.490002,44.259998,44.470001,15400,44.470001
15,2017-01-25,44.590000,44.849998,44.470001,44.849998,33400,44.849998
16,2017-01-24,44.430000,44.430000,44.130001,44.130001,6500,44.130001
17,2017-01-23,43.939999,44.509998,43.849998,44.470001,16500,44.470001
18,2017-01-20,43.950001,43.950001,43.689999,43.709999,3300,43.709999
19,2017-01-19,43.459999,43.509998,43.349998,43.430000,7600,43.430000
20,2017-01-18,43.660000,43.660000,43.270000,43.450001,3900,43.450001
21,2017-01-17,43.439999,43.770000,43.419998,43.770000,3500,43.770000
22,2017-01-13,43.049999,43.450001,43.049999,43.419998,2300,43.419998
23,2017-01-12,43.330002,43.389999,43.270000,43.369999,5500,43.369999
24,2017-01-11,43.200001,43.400002,42.669998,43.400002,6700,43.400002
25,2017-01-10,43.040001,43.040001,42.799999,42.820000,2800,42.820000
26,2017-01-09,42.580002,42.599998,42.419998,42.419998,2100,42.419998
27,2017-01-06,42.139999,42.400002,42.139999,42.270000,2100,42.270000
28,2017-01-05,42.490002,42.950001,42.240002,42.410000,6200,42.410000
29,2017-01-04,41.840000,41.959999,41.490002,41.959999,6800,41.959999
...,...,...,...,...,...,...,...
1626,2010-08-31,25.299999,25.350000,25.280001,25.350000,1100,24.453419
1627,2010-08-30,25.290001,25.290001,25.290001,25.290001,300,24.395542
1628,2010-08-27,25.100000,25.260000,24.950001,25.260000,10300,24.366602
1629,2010-08-26,25.120001,25.150000,25.000000,25.000000,7500,24.115798
1630,2010-08-25,24.850000,24.870001,24.850000,24.870001,700,23.990397
1631,2010-08-24,24.900000,24.959999,24.900000,24.959999,3800,24.077212
1632,2010-08-23,25.330000,25.330000,25.330000,25.330000,200,24.434126
1633,2010-08-20,25.309999,25.309999,25.290001,25.299999,1200,24.405187
1634,2010-08-19,25.750000,25.750000,25.750000,25.750000,500,24.839272
1635,2010-08-18,25.799999,25.900000,25.799999,25.900000,600,24.983966
1636,2010-08-17,25.570000,25.750000,25.570000,25.750000,6500,24.839272
1637,2010-08-16,25.280001,25.280001,25.240000,25.240000,3000,24.347309
1638,2010-08-13,25.170000,25.170000,25.170000,25.170000,100,24.279785
1639,2010-08-12,25.040001,25.040001,25.040001,25.040001,1000,24.154384
1640,2010-08-11,25.170000,25.170000,25.170000,25.170000,100,24.279785
1641,2010-08-10,26.080000,26.080000,26.080000,26.080000,500,25.157600
1642,2010-08-09,26.000000,26.230000,26.000000,26.059999,5500,25.138307
1643,2010-08-06,25.309999,25.709999,25.309999,25.709999,700,24.800686
1644,2010-08-05,25.910000,25.910000,25.910000,25.910000,500,24.993613
1645,2010-08-04,25.860001,25.860001,25.860001,25.860001,500,24.945382
1646,2010-08-03,25.750000,25.860001,25.750000,25.830000,11200,24.916442
1647,2010-08-02,25.700001,25.709999,25.440001,25.620001,7000,24.713870
1648,2010-07-30,24.990000,25.100000,24.990000,25.100000,600,24.212261
1649,2010-07-29,25.299999,25.299999,25.020000,25.020000,1200,24.135091
1650,2010-07-28,25.250000,25.290001,25.120001,25.200001,4900,24.308725
1651,2010-07-27,25.250000,25.290001,25.200001,25.290001,8200,24.395542
1652,2010-07-26,25.400000,25.400000,25.219999,25.370001,18900,24.472712
1653,2010-07-23,25.540001,25.540001,25.080000,25.280001,8600,24.385895
1654,2010-07-22,25.420000,25.420000,25.129999,25.260000,17500,24.366602
1655,2010-07-21,25.100000,25.100000,24.700001,24.700001,42000,23.826409

In [1]:
a = list(reversed(df['Open']))

NameError: name 'df' is not defined

In [5]:
b = list(reversed(df['High']))

In [6]:
c = list(reversed(df['Low']))

In [7]:
d = list(reversed(df['Close']))

In [8]:
l = []
for i in range(len(a)-1):
    l.append([a[i],b[i],c[i],d[i]])

In [9]:
x = np.array(l)

In [10]:
y = np.array(df.loc[1: , 'Open'])

In [11]:
model = LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
predictions = model.predict(x_test) 
print('R-squared: %.2f'%model.score(x_test,y_test))

R-squared: 0.74